.funky_button {
    -fx-text-fill: rgb(222, 197, 0);
    -fx-font-size: 16;
    -fx-font-family: "Arial Black";
    -fx-padding: 10;
    -fx-background-color: rgb(0, 18, 94);
}
@font-face {
    font-family: Saiyan Sans;
    src: url('/resources/fonts/Saiyan-Sans.ttf');
}
.megatitle {
    -fx-text-fill: rgb(0, 18, 94);
    -fx-font-size: 90;
    -fx-font-family: "Saiyan Sans";
}

.root{
    -fx-background: rgb(248, 72, 31);
}